@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown Syles */
.markdown {
  @apply w-full leading-loose;
}

.markdown h2 {
  @apply text-2xl font-bold pb-6;
}

.markdown p {
  @apply text-gray-700 dark:text-gray-100 pb-6;
}

/* Dotted Background */
.dotted-background {
  background-image: radial-gradient(#e5e7eb 10%, transparent 10%),
    radial-gradient(#e5e7eb 10%, transparent 10%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
